## Analyzing Microsoft Stock

In [1]:
import pandas as pd
import numpy as np

In [2]:
shares_data = pd.read_csv("MSFT.csv")
shares_data.head(5)

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity
0,"Oct 24, 2019",139.94,139.14,140.40,138.69,37.28M
1,"Oct 23, 2019",137.24,136.88,137.45,135.61,31.38M
2,"Oct 22, 2019",136.37,138.97,140.01,136.26,27.94M
3,"Oct 21, 2019",138.43,138.45,138.50,137.01,20.72M
4,"Oct 18, 2019",137.41,139.76,140.00,136.56,32.28M

In [3]:
shares_data.describe()

       Close Price  Open Price  High Price   Low Price
count   503.000000  503.000000  503.000000  503.000000
mean    109.665805  109.707575  110.626839  108.608628
std      17.381956   17.414436   17.427872   17.310675
min      78.630000   78.580000   79.100000   78.010000
25%      95.385000   95.795000   96.505000   94.125000
50%     107.220000  107.460000  108.300000  105.960000
75%     124.245000  124.105000  125.470000  123.445000
max     141.570000  141.500000  142.370000  140.300000

In [4]:
shares_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 6 columns):
Date                     503 non-null object
Close Price              503 non-null float64
Open Price               503 non-null float64
High Price               503 non-null float64
Low Price                503 non-null float64
Total Traded Quantity    503 non-null object
dtypes: float64(4), object(2)
memory usage: 23.7+ KB

In [5]:
last90_shares_data = shares_data[:90]['Close Price']
last90_shares_data.head()

print("Maximum value in last 90 days", last90_shares_data.max())
print("Minimum value in last 90 days", last90_shares_data.min())
print("Mean value of last 90 days", last90_shares_data.mean())

Maximum value in last 90 days 141.57
Minimum value in last 90 days 132.21
Mean value of last 90 days 137.44722222222225

In [6]:
shares_data['Date'] = pd.to_datetime(shares_data['Date'])

shares_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 6 columns):
Date                     503 non-null datetime64[ns]
Close Price              503 non-null float64
Open Price               503 non-null float64
High Price               503 non-null float64
Low Price                503 non-null float64
Total Traded Quantity    503 non-null object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 23.7+ KB

In [7]:
print("Max - Min Date:",shares_data['Date'].max()-shares_data['Date'].min())

Max - Min Date: 729 days 00:00:00

In [8]:
def traded_quan(quan):
    num=""
    for i in quan:
        if i=="M":
            break
        num+=i
    num  = pd.to_numeric(num)
    return int(num*(10**6))
    
    
shares_data['Total Traded Quantity']=shares_data['Total Traded Quantity'].apply(traded_quan)

In [9]:
shares_data['Month'] = shares_data['Date'].dt.month
shares_data['Year'] = shares_data['Date'].dt.year

month_year_grouped = shares_data.groupby(['Year','Month'])

print("  Monthwise VWAP of MSFT Stock\n")
for y_m,grp in month_year_grouped:
    quantity = grp['Total Traded Quantity']
    price = grp['Close Price']
    VWAP = sum(price*quantity)/sum(quantity)
    print("Year:",y_m[0],"Month:",y_m[1],"VWAP:",VWAP)

  Monthwise VWAP of MSFT Stock

Year: 2017 Month: 10 VWAP: 82.26187340916346
Year: 2017 Month: 11 VWAP: 83.73425128168493
Year: 2017 Month: 12 VWAP: 84.63634325796903
Year: 2018 Month: 1 VWAP: 90.51083987810188
Year: 2018 Month: 2 VWAP: 90.90492083178304
Year: 2018 Month: 3 VWAP: 92.57040891351545
Year: 2018 Month: 4 VWAP: 92.97988926134323
Year: 2018 Month: 5 VWAP: 96.89534530820573
Year: 2018 Month: 6 VWAP: 100.42155962742136
Year: 2018 Month: 7 VWAP: 105.27804670763828
Year: 2018 Month: 8 VWAP: 108.6546553947015
Year: 2018 Month: 9 VWAP: 112.36117002367762
Year: 2018 Month: 10 VWAP: 107.9910356166427
Year: 2018 Month: 11 VWAP: 107.1593622693381
Year: 2018 Month: 12 VWAP: 103.67806686646827
Year: 2019 Month: 1 VWAP: 104.01815331607135
Year: 2019 Month: 2 VWAP: 107.83975271797058
Year: 2019 Month: 3 VWAP: 115.38577746464526
Year: 2019 Month: 4 VWAP: 123.37086111367624
Year: 2019 Month: 5 VWAP: 126.28541738240561
Year: 2019 Month: 6 VWAP: 131.74957152502276
Year: 2019 Month: 7 VWAP: 137.86751485671024
Year: 2019 Month: 8 VWAP: 136.10024914332107
Year: 2019 Month: 9 VWAP: 138.21795285151998
Year: 2019 Month: 10 VWAP: 137.983662971074

In [96]:
def avgprice(n,shares_data):
    n_date = shares_data['Date'][0] -  pd.to_timedelta(n, unit='d')
    mask = shares_data["Date"]>=n_date
    n_data = shares_data[mask]
    
    avg_price_n = n_data["Close Price"].mean()
    return round(avg_price_n,4)

def pro_ls_per(n,shares_data):
    n_date = shares_data['Date'][0] -  pd.to_timedelta(n, unit='d')
    mask = shares_data["Date"]==n_date
    n_data = shares_data[mask]
    
    price_old = float(n_data["Close Price"])
    price_now = shares_data["Close Price"][0]
    
    per_change = ((price_now - price_old)/price_old)*100
    
    return round(per_change,4)

In [99]:
print("Over last 1 week")
print("Avg Price: ",avgprice(7,shares_data),"  Profit/Loss: ",pro_ls_per(1,shares_data),"%")

print("Over last 2 week")
print("Avg Price: ",avgprice(14,shares_data),"  Profit/Loss: ",pro_ls_per(14,shares_data),"%")

print("Over last 1 month")
print("Avg Price: ",avgprice(30,shares_data),"  Profit/Loss: ",pro_ls_per(30,shares_data),"%")

print("Over last 3 months")
print("Avg Price: ",avgprice(90,shares_data),"  Profit/Loss: ",pro_ls_per(90,shares_data),"%")

print("Over last 6 months")
print("Avg Price: ",avgprice(183,shares_data),"  Profit/Loss: ",pro_ls_per(183,shares_data),"%")

print("Over last 1 year")
print("Avg Price: ",avgprice(365,shares_data),"  Profit/Loss: ",pro_ls_per(365,shares_data),"%")

Over last 1 week
Avg Price:  138.18   Profit/Loss:  1.9674 %
Over last 2 week
Avg Price:  139.0355   Profit/Loss:  0.6039 %
Over last 1 month
Avg Price:  138.2426   Profit/Loss:  1.8634 %
Over last 3 months
Avg Price:  137.6269   Profit/Loss:  -0.9905 %
Over last 6 months
Avg Price:  134.5063   Profit/Loss:  11.943 %
Over last 1 year
Avg Price:  122.2602   Profit/Loss:  36.767 %

In [107]:
shares_data["Day_Perc_Change"] = shares_data["Close Price"].pct_change()*100
shares_data["Day_Perc_Change"].iloc[0]=0
shares_data.head()

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity,Month,Year,Day_Perc_Change
0,2019-10-24,139.94,139.14,140.40,138.69,37280000,10,2019,0.000000
1,2019-10-23,137.24,136.88,137.45,135.61,31380000,10,2019,-1.929398
2,2019-10-22,136.37,138.97,140.01,136.26,27940000,10,2019,-0.633926
3,2019-10-21,138.43,138.45,138.50,137.01,20720000,10,2019,1.510596
4,2019-10-18,137.41,139.76,140.00,136.56,32280000,10,2019,-0.736835

In [115]:
def trend_fun(per_ch):
    if per_ch>-0.5 and per_ch<0.5:
        return "Slight or No change"
    elif per_ch>=0.5 and per_ch<1:
        return "Slight positive"
    elif per_ch>-1 and per_ch<=-0.5:
        return "Slight negative"
    elif per_ch>=1 and per_ch<3:
        return "Positive"
    elif per_ch>-3 and per_ch<=-1:
        return "Negative"
    elif per_ch>=3 and per_ch<7:
        return "Among top gainers"
    elif per_ch>-7 and per_ch<=-3:
        return "Among top losers"
    elif per_ch>=7:
        return "Bull run"
    elif per_ch<=-7:
        return "Bear drop"
    
    
        
        
shares_data['Trend'] = shares_data['Day_Perc_Change'].apply(trend_fun)
shares_data.head(10)

,Date,Close Price,Open Price,High Price,Low Price,Total Traded Quantity,Month,Year,Day_Perc_Change,Trend
0,2019-10-24,139.94,139.14,140.40,138.69,37280000,10,2019,0.000000,Slight or No change
1,2019-10-23,137.24,136.88,137.45,135.61,31380000,10,2019,-1.929398,Negative
2,2019-10-22,136.37,138.97,140.01,136.26,27940000,10,2019,-0.633926,Slight negative
3,2019-10-21,138.43,138.45,138.50,137.01,20720000,10,2019,1.510596,Positive
4,2019-10-18,137.41,139.76,140.00,136.56,32280000,10,2019,-0.736835,Slight negative
5,2019-10-17,139.69,140.95,141.42,139.02,22100000,10,2019,1.659268,Positive
6,2019-10-16,140.41,140.79,140.99,139.53,20840000,10,2019,0.515427,Slight positive
7,2019-10-15,141.57,140.06,141.79,139.81,19920000,10,2019,0.826152,Slight positive
8,2019-10-14,139.55,139.69,140.29,139.52,13590000,10,2019,-1.426856,Negative
9,2019-10-11,139.68,140.12,141.03,139.50,25550000,10,2019,0.093157,Slight or No change

In [128]:
trend_grouped = shares_data.groupby('Trend')

print("Trendwise stats of Total Traded Quantity\n")
for name,grp in trend_grouped:
    print(name)
    print("Avg:",round(grp['Total Traded Quantity'].mean(),2),"Median:",grp['Total Traded Quantity'].median())

Trendwise stats of Total Traded Quantity

Among top gainers
Avg: 40788571.43 Median: 34730000.0
Among top losers
Avg: 39630769.15 Median: 32119999.0
Bear drop
Avg: 44070000.0 Median: 44070000.0
Negative
Avg: 29141181.79 Median: 26355000.0
Positive
Avg: 29766285.69 Median: 26310000.0
Slight negative
Avg: 26912499.96 Median: 26605000.0
Slight or No change
Avg: 25640548.76 Median: 23600000.0
Slight positive
Avg: 26909807.69 Median: 24105000.0

In [130]:
# Writing to disk
shares_data.to_csv("week2.csv")